img {
    height: 200px;
    width: 300px;
    border-radius: 30px;
}

div {
    width: 33%;
    height: 210px;
    margin-top: 40px;
    margin-bottom: 20px;
    float: left;
}

select {
    display: block;
    margin: auto;
}

div img, h2, p{
    margin: auto;
    display: block;
    text-align: center;

}

div {
    margin-top: 40px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    float: left;
}